@model IEnumerable<Amazon.BL.Models.BrandVM>
@{
    ViewData["Title"] = "Brands";
}

<div class="row">
    @if (Model != null)
    {
        @foreach (var brand in Model)
        {
            <div class="product col-md-2">
                <div>
                    <div class="px-2 py-2">
                        <img class="w-100" src="@brand.Image">
                        <h3 class="h6 fw-bolder ">@brand.Name</h3>
                    </div>
                </div>
            </div>
        }
    }
</div>